body {
  padding:50px 100px;
}

ul {
  margin:0;
  padding:0;
  list-style: none;
}

.content {
  display: flex;
  color:#ccc;
} 

.section-header {
  background-color:#353941;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.button {
  padding:10px;
  font-size:14px;
  background-color: #4098AF;
  border: 0;
  color: #204f5c;
  font-weight:bold;
  cursor: pointer;
}

.button:hover {
  color: #2d6f81;
}