body {
  padding:50px 100px;
}

ul {
  margin:0;
  padding:0;
}

.content {
  display: flex;
  color:#ccc;
} 

.main-left {
  flex-grow: 1;
  min-width: 900px;
  margin-right: 10px;
}

.right-sidebar {
  width: 400px;
}

.section-header {
  background-color:#353941;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.products {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}


.cart-item {
  display:flex;
  justify-content: space-between;
}

.button {
  padding:10px;
  font-size:14px;
  background-color: #4098AF;
  border: 0;
  color: #204f5c;
  font-weight:bold;
  cursor: pointer;
}

.button:hover {
  color: #2d6f81;
}