.product {
  display: flex;
  align-items: center;
  justify-content: center; 
  text-align: center;
  font-size: 18px;
  margin: 0;
}

.productImage {
  width: 100%;
} 

.productDetails, .productDetails .title {
  font-family: nasalization-light;
  font-size: 18px;
  text-align: center;
  margin: 0;
}

.product .addToCart {
  display: none;
}

.product:hover .productImage {
  opacity: .2;
}

.product:hover .addToCart {
  display: block;
  position: absolute;
  z-index: 1;
}